@model Mvc1VaccinDemo.ViewModels.VaccinIndexViewModel

@{
    ViewData["Title"] = "Vacciner";
}


<form >
    
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label for="SearchWord">Sök:</label>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" asp-for="SearchWord">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Sök</button>
        </div>
    </div>    

</form>



<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Namn</th>
        <th scope="col">Supplier</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var vaccin in Model.Vacciner)
        {
        <tr>
            <td>@vaccin.Name</td>
            <td>@vaccin.Supplier</td>
            <td><a asp-controller="Vaccin" asp-action="Edit" asp-route-Id="@vaccin.Id" class="btn btn-secondary active" role="button" aria-pressed="true">Edit</a></td>
        </tr>
        }

    </tbody>
</table>
